:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --acsent-color: #2196f3;
  --link-color: #212121;
  --ptimari-bg-color: #ffffff;
  --border-color: #ececec;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--ptimari-bg-color);
}

img {
  display: block;
}

img {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px 0 15px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color);
}

.head {
  display: flex;
  align-items: center;
}

/* logo */
.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  margin-left: 0;
  margin-right: 93px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
}
.header-logo__color {
  color: #2196f3;
}

/* site nav */
.navigation {
  display: flex;
  padding-left: 0;
}
.navigation__item {
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 300px;
}
.navigation__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--link-color);
  transition: 250ms var(--timing-function);
}
.navigation__link:hover {
  color: var(--acsent-color);
}
.navigation__link:focus {
  color: var(--acsent-color);
}
.navigation__link--active {
  position: relative;
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  border: #000000;
}
.navigation__link--active:after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  transform: translateY(31.5px);
}

.contact {
  display: flex;
  vertical-align: middle;
  padding: 0;
}
.contact__link {
  display: flex;
  align-items: center;
}
.contact__icon {
  margin-right: 10px;
  fill: #757575;
  transition: 250ms var(--timing-function);
}
.contact__link:hover .contact__icon {
  fill: #2196f3;
}
.contact__link:focus .contact__icon {
  fill: #2196f3;
}
.contact__item {
  margin-right: 30px;
}
.contact__item:last-child {
  margin-right: 0;
}
.contact__link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  transition: 250ms var(--timing-function);
}
.contact .contact__link:hover, .contact .contact__link:focus {
  color: var(--acsent-color);
}

.hero {
  display: block;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imges/hero.jpg");
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--ptimari-bg-color);
}
.hero__button {
  padding: 10px 32px 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  color: var(--ptimari-bg-color);
}

.skill__cards {
  padding-top: 94px;
  padding-bottom: 94px;
}

.cards {
  padding: 0;
  display: flex;
}
.cards__container {
  margin-bottom: 30px;
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
  margin-right: 30px;
}
.cards__item:last-child {
  padding-right: 0;
}
.cards__title {
  width: 270px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--link-color);
}
.cards__text {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.cards__icon {
  display: block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  padding: 25px 100px;
}

.work {
  margin-bottom: 94px;
}
.work__typs {
  padding: 0;
  display: flex;
}
.work__list {
  padding-right: 30px;
}
.work__ .work__list:last-child {
  padding-right: 0;
}
.work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.work__list {
  position: relative;
}
.work__img--text {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.teams {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.teams-ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team {
  padding: 0;
  display: flex;
}
.team .item {
  width: 270px;
  margin-right: 30px;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--ptimari-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team .team .item:last-child {
  margin-right: 0;
}
.team-list {
  text-align: center;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.name-p {
  padding-top: 30px;
  padding-bottom: 30px;
}

.proffession {
  margin-bottom: 16px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.teams-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 250ms var(--timing-function);
}
.teams-link:hover {
  background-color: var(--acsent-color);
}
.teams-link:focus {
  background-color: var(--acsent-color);
}

.teams-icon {
  fill: #afb1b8;
  transition: 250ms var(--timing-function);
}
.teams-link:hover .teams-icon {
  fill: var(--ptimari-bg-color);
}
.teams-link:focus .teams-icon {
  fill: var(--ptimari-bg-color);
}

.customers {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.customers-item {
  display: flex;
  justify-content: center;
}
.customers-list {
  margin-right: 30px;
}
.customers-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  outline: none;
  transition: 250ms var(--timing-function);
}
.customers-icon {
  fill: #afb1b8;
  transition: 250ms var(--timing-function);
}
.customers-link:hover .customers-icon {
  fill: #2196f3;
}
.customers-link:focus .customers-icon {
  fill: #2196f3;
}
.customers-link:focus {
  border-color: #2196f3;
}
.customers-link:hover {
  border-color: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--acsent-color);
  text-decoration: none;
}
.logo-footer span {
  color: var(--ptimari-bg-color);
}

.address {
  padding: 0;
}
.address__list {
  margin-bottom: 9px;
}
.address__list:last-child {
  margin-bottom: 0;
}
.address__map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--ptimari-bg-color);
  transition: 250ms var(--timing-function);
}
.address__map:hover, .address__map:focus {
  color: #2196f3;
}
.address__mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms var(--timing-function);
}
.address__mail:hover, .address__mail:focus {
  color: #2196f3;
}
.address__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms var(--timing-function);
}
.address__tel:hover, .address__tel:focus {
  color: #2196f3;
}

.social {
  margin-left: 70px;
  width: 206px;
  height: 80px;
}
.social__title {
  font-family: "Roboto";
  font-style: normal;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.social__networks {
  display: flex;
}
.social__item {
  display: flex;
  justify-content: space-between;
}
.social__list {
  display: flex;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 250ms var(--timing-function);
}
.social .social__link:hover, .social .social__link:focus {
  background-color: #2196f3;
}
.social__icon {
  fill: #ffffff;
  transition: 250ms var(--timing-function);
}
.social .social__icon:hover, .social .social__icon:focus {
  fill: #ffffff;
}

.send-form {
  margin-left: 93px;
}
.send-form__title {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.send-form__mail {
  padding-left: 16px;
  height: 50px;
  width: 358px;
  color: #ffffff;
  outline: #757575;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.send-form__ .send-form__mail::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.send-form__button {
  align-items: center;
  text-align: center;
  padding: 10px 29px;
  margin-left: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--ptimari-bg-color);
  letter-spacing: 0.06em;
  background-color: #2196f3;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms var(--acsent-color);
}
.send-form__ .send-form__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.send-form__icon {
  vertical-align: middle;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 1;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-b {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: #cfcfcf;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 250ms var(--timing-function);
}
.modal-b:hover {
  fill: #2196f3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.form-icon-person {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  margin: 0;
  padding: 0;
  fill: #212121;
}
.form-input:focus ~ .form-icon-person {
  fill: #2196f3;
}

.form-icon-phone {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  margin: 0;
  padding: 0;
  fill: #212121;
}
.form-input:focus ~ .form-icon-phone {
  fill: #2196f3;
}

.form-icon-post {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  margin: 0;
  padding: 0;
}
.form-input:focus ~ .form-icon-post {
  fill: #2196f3;
}

.form-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 2px;
  margin-top: 40px;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-contact {
  width: 448px;
  height: 342px;
  margin: auto;
  transition: 250ms var(--timing-function);
}

.form-block {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transition: 250ms var(--timing-function);
}

.form-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 10px 42px;
  outline: #2196f3;
  transition: 250ms var(--timing-function);
}
.form-input:focus {
  border-color: #2196f3;
}

.checkbox {
  appearance: none;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
}
.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../imges/icon-chekbox.svg);
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.form-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.form-textarea {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: #2196f3;
  transition: 250ms var(--timing-function);
}
.form-textarea:focus {
  border-color: #2196f3;
}
.form-textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-terms {
  display: flex;
  vertical-align: middle;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}
.form-terms-text {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  border: transparent;
  border-radius: 4px;
  color: var(--ptimari-bg-color);
  transition: 250ms var(--timing-function);
}
.form-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-ng {
  padding-top: 94px;
  padding-bottom: 94px;
  cursor: pointer;
}

.but {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.but .item {
  margin-right: 8px;
}
.but .item:last-child {
  margin-right: 0;
}
.but .list {
  padding: 6px 22px 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: transparent;
  border-radius: 4px;
  transition: 250ms var(--timing-function);
}
.but .list:hover {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.but .list:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.gallery a {
  text-decoration: none;
}
.gallery .list {
  margin-right: 30px;
  margin-bottom: 30px;
}
.gallery .list:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gallery .link {
  overflow: hidden;
  position: relative;
}
.gallery .border {
  margin: 0;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.gallery .list:nth-child(3n) {
  margin-right: 0;
}
.gallery .list:nth-child(n+7) {
  margin-bottom: 0;
  padding-bottom: 0;
}
.gallery .title {
  font-family: "Roboto";
  font-style: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.gallery .text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

.link-text {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  min-height: 294px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms var(--timing-function);
}
.list:hover .link-text {
  transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */