.skill__cards {
                padding-top: 94px;
                padding-bottom: 94px;
}

.cards {
                padding: 0;
                display: flex;
                
&__container {
                margin-bottom: 30px;
                background-color: #f5f4fa;
                height: 120px;
                width: 270px;
                margin-right: 30px;
}
&__item:last-child {
                padding-right: 0;
}
&__title {
                width: 270px;
                padding-bottom: 10px;
                font-weight: 700;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: var(--link-color);
}
&__text {
                width: 270px;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.71;
                letter-spacing: 0.03em;
                color: #757575;
}
&__icon {
                display: block;
                width: 270px;
                height: 120px;
                background-color: #f5f4fa;
                padding: 25px 100px;
}
}









